In [10]:
import pandas as pd
import numpy as np

In [11]:
df = pd.read_excel('tmp.xlsx', header=1,)  # Data loading

# removing the ruble symbol and non-printing characters
df['Loan issued'] = pd.to_numeric(df['Loan issued'].str.replace('₽', '').str.replace('\u00A0', ''))
df['Earned interest'] = pd.to_numeric(df['Earned interest'].str.replace('₽', '').str.replace('\u00A0', ''))
df['Unpaid,  full amount'] = pd.to_numeric(
    df['Unpaid,  full amount'].str.replace('₽', '').str.replace('\u00A0', ''))

# casting some columns to percentage format
df['Comission, %'] = df['Comission, %'] * 100
df['EL'] = df['EL'] * 100
df = df.drop(columns=['Unnamed: 6'], axis=1)

# column definition
df = df[['Comission, %', 'Rating', 'Loan issued', 'Earned interest', 'Unpaid,  full amount', 'EL']]

In [12]:
# resulting table
df

,"Comission, %",Rating,Loan issued,Earned interest,"Unpaid, full amount",EL
0,5.30,7,3170000,211051,862850,1.5
1,6.50,17,500000,39518,289518,10.0
2,4.50,9,11600897,537680,9567386,1.5
3,4.50,13,5250000,233022,2858022,1.5
4,3.75,8,3000000,216485,0,0.0
...,...,...,...,...,...,...
527,6.80,17,3000000,83062,3206436,1.5
528,5.30,10,6560000,250635,4309425,1.5
529,5.50,14,2844671,233514,1064981,40.0
530,5.50,12,500000,13235,414705,1.5
531,5.00,13,5000000,276999,1805166,1.5

In [13]:
# Making pivot table
df_pivot_table = df.pivot_table(index=['Comission, %'], columns=['Rating'],
                                 aggfunc={'sum', 'mean'}, values=['Loan issued']).fillna(0)
df_pivot_table.to_excel('pivot_table.xlsx')  # saves results to xlsx-file

df_pivot_table

             Loan issued                                                      \
                    mean
Rating                1    2    3    4    5    6    7          8          9
Comission, %
2.00                 0.0  0.0  0.0  0.0  0.0  0.0  0.0        0.0  2750000.0
2.13                 0.0  0.0  0.0  0.0  0.0  0.0  0.0        0.0        0.0
2.15                 0.0  0.0  0.0  0.0  0.0  0.0  0.0  8700000.0        0.0
2.24                 0.0  0.0  0.0  0.0  0.0  0.0  0.0        0.0  8640000.0
2.25                 0.0  0.0  0.0  0.0  0.0  0.0  0.0        0.0        0.0
...                  ...  ...  ...  ...  ...  ...  ...        ...        ...
6.80                 0.0  0.0  0.0  0.0  0.0  0.0  0.0  1175000.0        0.0
6.90                 0.0  0.0  0.0  0.0  0.0  0.0  0.0        0.0        0.0
7.00                 0.0  0.0  0.0  0.0  0.0  0.0  0.0        0.0        0.0
7.80                 0.0  0.0  0.0  0.0  0.0  0.0  0.0        0.0        0.0
8.30                 0.0  0.0  0.0  0.0  0.0  0.0  0.0        0.0        0.0

                         ...                                              \
                         ...        sum
Rating               10  ...         9          10         11         12
Comission, %             ...
2.00                0.0  ...  5500000.0        0.0        0.0        0.0
2.13                0.0  ...        0.0        0.0        0.0  3000000.0
2.15                0.0  ...        0.0        0.0        0.0        0.0
2.24                0.0  ...  8640000.0        0.0        0.0        0.0
2.25                0.0  ...        0.0        0.0        0.0   800000.0
...                 ...  ...        ...        ...        ...        ...
6.80                0.0  ...        0.0        0.0  2000000.0  3000000.0
6.90                0.0  ...        0.0        0.0  2000000.0        0.0
7.00                0.0  ...        0.0        0.0        0.0        0.0
7.80          2000000.0  ...        0.0  2000000.0        0.0  4000000.0
8.30                0.0  ...        0.0        0.0        0.0        0.0



Rating               13         14         15   16         17         18
Comission, %
2.00          1836735.0        0.0        0.0  0.0        0.0        0.0
2.13                0.0        0.0        0.0  0.0        0.0        0.0
2.15                0.0        0.0        0.0  0.0        0.0        0.0
2.24                0.0        0.0        0.0  0.0        0.0        0.0
2.25                0.0        0.0        0.0  0.0        0.0        0.0
...                 ...        ...        ...  ...        ...        ...
6.80                0.0        0.0        0.0  0.0  3000000.0        0.0
6.90                0.0        0.0        0.0  0.0        0.0        0.0
7.00                0.0  2790000.0        0.0  0.0        0.0        0.0
7.80                0.0        0.0        0.0  0.0        0.0  1700000.0
8.30                0.0  7000000.0  1000000.0  0.0  1030000.0        0.0

[127 rows x 36 columns]

In [14]:
# An alternative pivot table that is more informative for me.
df_pivot_table1 = df.pivot_table(index=['Rating', 'Comission, %'],
                                 aggfunc={'sum', 'mean','max','min'}, values=['Loan issued', 'Earned interest']).fillna(0)
df_pivot_table1.to_excel('alt_pivot_table.xlsx')  # saves results to xlsx-file

df_pivot_table1

                    Earned interest                             Loan issued  \
                                max        mean     min     sum         max
Rating Comission, %
1      5.50                   48343   48343.000   48343   48343     1500000
2      5.50                  195370  195370.000  195370  195370     4300000
3      3.17                  407474  407474.000  407474  407474     7800000
       3.30                  123516  123516.000  123516  123516     7000000
       3.80                  111303  111303.000  111303  111303     5000000
...                             ...         ...     ...     ...         ...
18     6.00                   52699   52699.000   52699   52699     1500000
       6.17                   57597   57597.000   57597   57597     1500000
       6.20                    9811    9811.000    9811    9811      590000
       6.50                  228313   65963.375       0  527707     3000000
       7.80                   67431   67431.000   67431   67431     1700000


                          mean      min       sum
Rating Comission, %
1      5.50          1500000.0  1500000   1500000
2      5.50          4300000.0  4300000   4300000
3      3.17          7800000.0  7800000   7800000
       3.30          7000000.0  7000000   7000000
       3.80          5000000.0  5000000   5000000
...                        ...      ...       ...
18     6.00          1500000.0  1500000   1500000
       6.17          1500000.0  1500000   1500000
       6.20           590000.0   590000    590000
       6.50          1283750.0   500000  10270000
       7.80          1700000.0  1700000   1700000

[260 rows x 8 columns]